extends layout

block content
  .dashboard-container
    h1.dashboard-header Teacher Dashboard - #{user.name}

    .dashboard-summary
      .summary-card
        h3 #{activeCoursesCount || 0}
        p Active Courses
      .summary-card
        h3 #{createdExamsCount || 0}
        p Created Exams
      .summary-card
        h3 #{totalQuestionsCount || 0}
        p Total Questions
      .summary-card
        h3 #{newResultsCount || 0}
        p New Results

    .recent-activity
      h2 Recent Activity
      ul
        each activity in recentActivities || []
          li #{activity.description} - #{activity.date}

