extends layout

block content
  .dashboard-container
    .dashboard-header
      h1 #{user.name}, Dashboard

    .dashboard-grid
      .dashboard-card
        h2.card-title Upcoming Exams
        .card-content
          ul.upcoming-tests-list#upcoming-exams
            if upcomingExams && upcomingExams.length > 0
              each exam in upcomingExams
                li
                  strong #{exam.name}
                  | &nbsp;- #{new Date(exam.date).toLocaleDateString()}
            else
              li No upcoming exams scheduled.
          p.card-actions
            a(href="/student/tests") View All Upcoming Exams

      .dashboard-card
        h2.card-title Recent Results
        .card-content
          ul.upcoming-tests-list#recent-results
            if recentResults && recentResults.length > 0
              each result in recentResults
                li
                  strong #{result.testName}
                  | &nbsp;- Score: #{result.score}%
            else
              li No recent results available.
          p.card-actions
            a(href="/student/performance") View All Results


      .dashboard-card
        h2.card-title Profile Information
        .card-content
          p View and update your profile details.
          p.card-actions
            a(href="") Edit Profile

  script.
    